<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.strydhr.thepasar">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.MainTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBar"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".Controller.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        Popups-->
        <activity
            android:name=".Controller.Fragments.View.PopupUpdateRadius"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Controller.Fragments.View.PopupRejectedComment"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Controller.Fragments.View.PopupLodgeComplaint"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Controller.Fragments.View.PopupEditAddress"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Controller.Fragments.View.PopupEditPhone"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Controller.Fragments.View.PopupAddProduct"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".MainActivity">
        </activity>

        <!--        Admobs-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>